#description {
  margin-bottom: 1em;
}
.example {
  margin-bottom: 2em;
  border: 2px solid #888;
}
.column {
  display: inline-block;
  vertical-align: top;
}
img {
  display: block;
  margin: auto;
  border: 1px solid #ccc;
}
