form {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 8px;
}
form>* {
  flex-grow: 0;
  flex-shrink: 0;
}
#text {
  flex-grow: 1;
  flex-shrink: 1;
  display: block;
  min-height: 10em;
  margin: 8px 0;
  padding: 8px;
  border: 0;
  outline: none;
}
.CodeMirror {
  margin: 8px 0;
}
#title {
  margin-top: 8px;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
#controls {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  background: #ccd;
  width: 100%;
  margin-bottom: 8px;
}
#share {
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 8px;
}
#sharelink {
  display: none;
  flex-grow: 1;
  flex-shrink: 1;
  border: 0;
  margin-right: 8px;
}
#save {
  flex-grow: 1;
  flex-shrink: 1;
  color: #0a0;
}
#history {
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 8px;
}
button[disabled] {
  background: #bbb;
}
