#title {
  border: 0;
  padding: 8px;
}
#save {
  background: #080;
  display: block;
}
#save:disabled {
  background: #888;
}
#outer {
  display: inline-block;
}
#textwrap {
  text-align: left;
}
#text {
  margin: auto;
  display: block;
}
#cancel {
  background: #d00;
  display: block;
}
#description {
  margin-top: 1em;
  text-align: left;
  max-width: 50em;
}
#cancelsave {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  background: #ccd;
  width: 100%;
  margin-bottom: 8px;
}
#save {
  flex-grow: 1;
  flex-shrink: 0;
  color: #0a0;
}
#cancel {
  flex-grow: 1;
  flex-shrink: 0;
  color: #a00;
  margin-right: 8px;
}
