<!DOCTYPE html>
<title>Edit {{like}} {{title}}</title>
<meta name=viewport content='width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0'>
<link rel=stylesheet href=yaf.css>
<link rel=stylesheet href=edit.css>
<div id=outer>
<form method=post action=/edit>
  <input name=title id=title value='{{title}}' size=40><br>
  <div id=textwrap>
    <textarea name=text autofocus id=text rows=10 cols=40>{{text}}</textarea>
  </div>
  <input type=hidden name=id value={{id}}>
  <input type=hidden id=csrf>
  <table id=buttons><tr>
    <td><a href='{{manage_url}}' id=cancel class=button>cancel</a>
    <td><input type=submit value=save class=button id=save>
  </table>
  <div id=user>{{username}}</div>
</form>
<div id=description>
{% if like == 'plugin' %}
Plugins are javascript programs that are run on the main page and that may
affect the settings and card study screens, but not the manage, add, edit, view,
or publish pages. They can not add or remove decks or plugins, but they can see
which decks and plugins you have installed. Plugins can both read and write deck
options (lessons enabled, directions enabled) and card scores. They can add,
remove, or modify visual elements like buttons and text. They have read/write
access to a global object <code>yaf</code>, which can be inspected in the
browser's developer console/tools.
{% else %}
Decks are Comma-Separated-Value files with at least 2 columns. A deck may
optionally be divided into lessons, which are sets of cards within a deck that
can be studied as a group. Lessons are divided in the CSV by rows where the
first column contains the title of the lesson and the second column is empty.
{% endif %}
</div>
</div>
{% if like == 'plugin' %}
<link rel=stylesheet href=codemirror.css>
<script src=codemirror.js></script>
<script src=codemirror-mode-js.js></script>
{% endif %}
<script src=edit.js></script>
