<!doctype html>
<html manifest=yaf.appcache>
<title>Yet Another Flashcard</title>
<meta name=viewport content='width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0'>
<meta name=theme-color content='#ccd'>
<link rel=apple-touch-icon sizes=144x144 href='apple-touch-icon-144x144-precomposed.png'>
<link rel=icon sizes="144x144" href='apple-touch-icon-144x144-precomposed.png'>
<link rel=manifest href=manifest.json>
<link rel=stylesheet href=yaf.css>
<link rel=stylesheet href=index.css>
<body bgcolor='#ccd'>

<div id=settings>
  <div id=study-loading>loading...</div>
  <button id=study>study</button>
  <div id=study-done>done for the day</div>
  <div id=decks>
    {% for deck in decks %}
      <div class=head data-id={{deck.id}}>
        <button class=title>{{deck.title}}</button>
        <button class=edit data-href="{{deck.edit}}">edit</button>
      </div>
      <div class=options data-id={{deck.id}}>
        <div data-direction=forward>
          <button>forward</button>
          <button data-feature=type>type</button>
          <button data-feature=draw>draw</button>
          <button data-feature=image>image</button>
        </div>
        <div data-direction=backward>
          <button>backward</button>
          <button data-feature=type>type</button>
          <button data-feature=draw>draw</button>
          <button data-feature=image>image</button>
        </div>
        <div class=lessons></div>
      </div>
    {% endfor %}
  </div>
  <div id=plugins>
    {% for plugin in plugins %}
      <button data-href="{{plugin.edit}}">{{plugin.title}}</button>
    {% endfor %}
  </div>
</div>

<div id=card>
  <div id=progress></div>
  <div id=deck></div>
  <button id=front></button>
  <canvas id=draw></canvas>
  <button id=clear>clear</button>
  <form id=typeform>
    <input id=type placeholder=type></input>
  </form>
  <div id=back></div>
  <div id=goodnext>
    <button id=next>next</button>
    <button id=good>good</button>
  </div>
  <div id=done-hint>Use your browser's back button to go back to settings.
    <br><button id=done-hint-ok>OK!</button>
  </div>
</div>

{% for deck in decks %}
<div class=csv data-id={{deck.id}}>{{deck.csv}}</div>
{% endfor %}
<script src='/index.js'></script>
{% for plugin in plugins %}
<script src='{{plugin.src}}'></script>
{% endfor %}
