html {
  font-family: sans;
  background: #ccd;
  font-size: 14pt;
  height: 100%;
}
body {
  margin: auto;
  height: 100%;
  margin-top: 0;
  margin-bottom:0;
}
input, button {
  font-size: 14pt;
  padding: 8px;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  background: white;
  border-radius: 6px;
}
button:focus {
  outline: none;
}
@media only screen and (min-width: 480px){
  body {
    /* 16px margin + 1px on either side, inside and out, for rounding errors */
    min-width: 460px;
    max-width: 600px;
  }
}
